.footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: red;
  justify-content: center;
}

.footer-left {
  flex: 0.3;
}

.footer-center {
  justify-content: space-between;
  padding: 20px 150px;
  flex: 0.7;
}

.album-logo {
  object-fit: contain;
}

.skip-previous {
}

.play {
  margin-left: 0;
}

.skip-next {
}
